@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Outfit:wght@300&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
height: 100vh;
}
.header{
    display: flex;
    width: 550px;
    height: 150px;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 2em;
    }

.header_one{
    font-family: 'Poppins', sans-serif;
    color: hsl(234, 12%, 34%);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.1ex;
    font-weight: lighter;
}
.header_two{
    font-family: 'Poppins', sans-serif;
    color: hsl(234, 12%, 34%);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.4em;
    font-weight: bold;
}
.header_three{
    font-family: 'Poppins', sans-serif;
    color: hsl(229, 6%, 66%);
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0.1ex;
 }
.cards{
    display: flex;
    flex-direction: row;
    margin-top: 1.2em;
  }

.card{
    width: 17em;
    height: 9em;
    margin: auto;
    padding: 1.7em;
    position: relative;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 20px 1px hsl(229, 6%, 66%);
}
.card_header{
    font-family: 'Poppins', sans-serif;
    color: hsl(234, 12%, 34%);
    font-weight: bold;
    font-size: 1.1em;
}
.card_text{
    font-family: 'Poppins', sans-serif;
    color: hsl(229, 6%, 66%);
    margin-top: 1em;
    font-size: 0.7em;
    line-height: 1.7em;
}
.card img{
    position: absolute;
    right: 7%;
    bottom: 7%;
}
.team{
    margin-bottom: 2em;
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 5px 5px 0 0;
}
.supervision{
    margin-right: 2em;
    border-top: 4px solid hsl(180, 62%, 55%);
    border-radius: 5px 5px 0 0;
}
.calculator{
    margin-left: 2em;
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 5px 5px 0 0;
}
.karma{
    border-top: 4px solid hsl(34, 97%, 64%);
    border-radius: 5px 5px 0 0;
}

